    {% load static %}
    <!-- Footer-->
    <footer class="footer pt-lg-5 pt-4 bg-dark text-light mt-5">
      <div class="container mb-4 py-4 pb-lg-5">
        <div class="row gy-4">
          <div class="col-lg-3 col-md-6 col-sm-4">
            <div class="mb-4 pb-sm-3">
              <a class="d-inline-block" href="{% url 'index' %}">
                <img src="{% static 'images/agarlogo2.png' %}" width="116" alt="Logo">
                 <!-- <h1 class="text-primary">My ads</h1> -->
              </a>
          </div>
            <ul class="nav nav-light flex-column">
              <li class="nav-item mb-2"><a class="nav-link p-0 fw-normal text-light text-nowrap" href="mailto:zapaggraharam@gmail.com"><i class="fi-mail mt-n1 me-1 align-middle text-primary"></i>zapaggraharam@gmail.com</a></li>
              <li class="nav-item mb-2"><a class="nav-link p-0 fw-normal text-light text-nowrap" href="tel:9176789884"><i class="fi-device-mobile mt-n1 me-1 align-middle text-primary"></i>+91 9176789884</a></li>
            </ul>
          </div>
          <!-- Links-->
          <div class="col-lg-2 col-md-3 col-sm-4">
            <h3 class="fs-base text-light">Quick links</h3>
            <ul class="list-unstyled fs-sm">
              <li><a class="nav-link-light" href="{% url 'index' %}">Home</a></li>
              <li><a class="nav-link-light" href="{% url 'about' %}">About us</a></li>
              <li><a class="nav-link-light" href="{% url 'contact' %}">Contact us</a></li>
            </ul>
          </div>
          <!-- Links-->
          <div class="col-lg-2 col-md-3 col-sm-4">
            <h3 class="fs-base text-light">Accounts</h3>
            <ul class="list-unstyled fs-sm">
              <li><a class="nav-link-light" href="{% url 'login' %}">Login</a></li>
              <li><a class="nav-link-light" href="{% url 'register' %}">Register</a></li>

            </ul>
          </div>
          <!-- Subscription form-->
          <div class="col-lg-4 offset-lg-1">
            <h3 class="h4 text-light">Subscribe to our newsletter</h3>
            <p class="fs-sm mb-4 opacity-60">Don’t miss any relevant vacancies!</p>
            <form class="form-group form-group-light rounded-pill" style="max-width: 500px;">
              <div class="input-group input-group-sm"><span class="input-group-text text-muted"><i class="fi-mail"></i></span>
                <input class="form-control" type="email" placeholder="Your email">
              </div>
              <button class="btn btn-primary btn-sm rounded-pill" type="button">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
      <div class="py-4 border-top border-light">
        <div class="container d-flex flex-column flex-lg-row align-items-center justify-content-between py-2">
          <!-- Copyright-->
          <p class="order-lg-1 order-2 fs-sm mb-2 mb-lg-0"><span class="text-light opacity-60">&copy; All rights reserved. Made by </span><a class="nav-link-light fw-bold" href="#" target="_blank" rel="noopener">aggraharam.com</a></p>
          <div class="d-flex flex-lg-row flex-column align-items-center order-lg-2 order-1 ms-lg-4 mb-lg-0 mb-4">
            <!-- Links-->
            <div class="d-flex align-items-center">
              <!-- Language switcher-->
              <!-- Socials-->
              <div class="ms-4 ps-lg-2 text-nowrap"><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle ms-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle ms-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle ms-2" href="#"><i class="fi-telegram"></i></a><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle ms-2" href="#"><i class="fi-messenger"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>